<div class="toolbar">

    <mat-form-field>
      <mat-label>{{ TOOLBAR_LABELS.SEARCH }}</mat-label>
      <input matInput placeholder="Enter name" [formControl]="filterControl" />
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>{{ TOOLBAR_LABELS.FILTER }}</mat-label>
      <mat-select [formControl]="statusFilter">
        <mat-option [value]="CHARACTER_STATUSES[3]">All</mat-option>
        <mat-option [value]="CHARACTER_STATUSES[0]">Alive</mat-option>
        <mat-option [value]="CHARACTER_STATUSES[1]">Dead</mat-option>
        <mat-option [value]="CHARACTER_STATUSES[2]">Unknown</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="toggleView()">
        {{ isGridView ? TOOLBAR_LABELS.TOGGLE_VIEW_LIST : TOOLBAR_LABELS.TOGGLE_VIEW_GRID }}
    </button>
    <button mat-raised-button color="primary" (click)="navigateToEpisode()">
        {{ TOOLBAR_LABELS.NAVIGATE_TO_EPISODES }}
    </button>
  </div>
  

  <div [ngClass]="isGridView ? 'character-list' : ''">
    <ng-container *ngIf="isGridView; else listView">
      <div *ngFor="let character of characters" class="character-card" (click)="onCharacterClick(character.id)">
        <img alt="character" [src]="character.image" [alt]="character.name" />
        <h3>{{ character.name }}</h3>
      </div>
    </ng-container>
  </div>
  
  <ng-template #listView>
    <table mat-table [dataSource]="characters" class="mat-elevation-z8">
      <ng-container *ngFor="let column of TABLE_COLUMNS" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>{{ column | titlecase }}</th>
        <td mat-cell *matCellDef="let character">{{ character[column] || 'N/A' }}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="TABLE_COLUMNS"></tr>
      <tr mat-row *matRowDef="let row; columns: TABLE_COLUMNS;"></tr>
    </table>
  </ng-template>
  
  <div *ngIf="isLoading" class="loading">
    {{ STATUS_MESSAGES.LOADING }}
  </div>
  <div *ngIf="!isLoading && characters.length === 0" class="no-results">
    <p>{{ STATUS_MESSAGES.NO_RESULTS }}</p>
  </div>
  <div
  infinite-scroll
  [infiniteScrollDistance]="INFINITE_SCROLL_SETTINGS.DISTANCE"
  [infiniteScrollUpDistance]="INFINITE_SCROLL_SETTINGS.UP_DISTANCE"
  [infiniteScrollThrottle]="INFINITE_SCROLL_SETTINGS.THROTTLE"
  (scrolled)="loadCharacters()">
</div>